<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css"/>
   
</head>
    <body>
      <div>
        <div id="precios">
            <p class="HowMuch1">¿El precio que hay que pagar?...<br/>Quererlo para siempre❤️</p>
            <img class="love-dog" src="../images/dog-photo-precio.jpg">
            <p class="HowMuch2">Comprar no es la única opción.<br/>Los perretes adoptados dan mucho amor también.</p>
      </div>  
            </div>
            
    </body>
</html>